CONFIG_AUTOSTART_ARDUINO=n
CONFIG_IDF_TARGET="esp32"
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_FREERTOS_HZ=1000
CONFIG_SPOOLSENSE_ENABLE_HX711=y
CONFIG_SPOOLSENSE_IGNORE_MISSING_PN532=y
CONFIG_SPOOLSENSE_IGNORE_MISSING_HX711=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_22=y
